.feed {
	text-align: center;
	display:inline-block;
	width: 75%;
	background-color: AliceBlue;
	
}

.onlineList {
	text-align: center;
	display:inline-block;
	width: 25%;
	background-color: #BEBEBE;

}

.inline-button {
	display: inline-block;
	height: 50%;
	vertical-align: middle;
	padding-right: 25px;
}

.navBar {
	background-color: #005bbb;
	color: White;
	height: max(5vh, 64px);
	width: 100vw;
	align-items: center;
}